# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# Models
models/*.joblib
models/*.pkl

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/